.header{
    background-color: #009adc;
    /* padding: 20px 0; */
}
.header-logo img{
    width: 240px;
}
.menu{}
.menu ul{
    text-align: end;
    margin-bottom: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a {
    color: #fff;
    display: inline-block;
    padding: 0px 15px;
    text-decoration: none;
    line-height: 90px;
    transition: .5s;
}
.menu ul li a:hover{
    color: orange;
    text-decoration: none;
}
/* banner section start */

.banner{
    background-image: url(https://i.ibb.co/qsKtYNk/photo-slideshow.jpg);
    background-size: cover;
    padding: 157px 0;
   
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.banner h2{
    background: rgba(0,0,0,.5);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 5px;
}
.banner h1{
    background-color: rgba(52, 152, 219, .6);
    max-width: 398px;
    margin: auto;
    font-size: 33px;
    padding: 13px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
}
/* banner section end */
/* abaut section start */
.about{
    margin: 50px 0;
}
.abouthead{}
.abouthead h2{
    font-size: 37px;
    margin-bottom: 20px;
    font-family: emoji;
}
.abouthead p{
    max-width: 650px;
    margin: 0 auto 60px;
    font-size: 18px;
    font-weight: 500;
}
.service-item{
    border: 1px solid #ddd;
}
.service-item span{
    display: block;
    height: 60px;
    width: 60px;
    background-color: #3498db;
    color: #fff;
    margin: 24px auto 0;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0;
}
.service-item h3 {
    margin: 30px 0;
    font-size: 30px;
    font-family: emoji;
    font-weight: 700;
}
/* abaut section end */
/* product item start */
.product-item{}
.product-item img{
    max-width: 100%;
}
.blog-left-notification h2{
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    margin: 0 0 19px 33px;
    padding-bottom: 10px;
    
}
.blog-left-notification ul{
    list-style: none;

}
.blog-left-notification ul li{
    border: 1px solid #ddd;
    background-color: #fafafa;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 9px;
    border-radius: 5px;
}

/* product item end */
/* footer section start */
.footer{
   background-color: #253f50;
   color: #fff;
   padding: 30px 0;
}
.socal-menu{
    text-align: end;
}
.socal-menu li{
    display: inline-block;
}
.socal-menu li a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
} 
/* footer section end */